.signupFormContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    height: auto;
    background: #B1Ede8;
    box-sizing:border-box;
    /* padding: 5px; */
    color: #352D39;
    font-family: "lemon milk";
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.signupFormOuter {
    margin: 1%;
}

.signupInput {
    font-weight: 400;
    display: block;
    min-width: 0;
    padding: 4px;
    width: 100%;
    border: none;
}
