@font-face{
    font-family: "lemon milk";
    src: url("../../LEMONMILK-Regular.otf") format("truetype");
  }

.SplashPageContainer {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6%;
}

.SplashPageImage {
    height: 150px;
    width: 150px;
    margin-top: 25px;
}

.SplashPageText {
    font-size: 12px;
    font-family: "lemon milk";
    margin-left: 20px;
    align-self: center;
    /* color: #457b9d; */
}

.SplashOuter {
    display: flex;
    width: 50%;
}
