@font-face{
    font-family: "lemon milk";
    src: url("../../LEMONMILK-Regular.otf") format("truetype");
  }

.SplashPageContainer {
    display: flex;
    justify-content:center;
    /* flex-direction: column; */
    align-items:center;
    margin-top: 8%;
}

.SplashPageImage {
    height: 150px;
    width: 150px;
    margin-top: 25px;
}

.SplashPageText {
    font-size: 12px;
    font-family: "lemon milk";
    margin-left: 20px;
    /* color: #457b9d; */
}
