@font-face{
    font-family: "lemon milk";
    src: url("../../LEMONMILK-Regular.otf") format("truetype");
  }


.lists {
    text-decoration: none;
    color: #457b9d;
}

.listnames {
    padding: 25px;
}

.listnames:hover {
    color: #e53945;
}

.listPageContainer {
    margin-top: 4%;
    max-height:fit-content;
    padding: 5%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.listContainer {
    border: none;
    background-color: #B1Ede8;
    font-family: "lemon milk";
    overflow-y: scroll;
    height: 400px;
    max-height: 400px;
    width: 600px;
    margin-right: 5%;
    margin-left: 10%;
    display: flex;
}


.listsFormContainer {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listnames {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listsForm {
    border: 2px solid lightgrey;
    padding: 50px;
}

.listsFormInput {
    background-color: #B1Ede8;
    border: none;
    margin-bottom: 10%;
    font-family: "lemon milk";
}

.listsFormLabel {
    margin-bottom: 10%;
    font-family: "lemon milk";
    color: #457b9d;
    width: 100%;
    margin-left: 10%;

}

.listSubmitBtn {
    width: 50%;
    margin-left: 25%;
    background-color: #FF6978;
    color: #fffcf9;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
}

.listSubmitBtn:hover {
    width: 50%;
    margin-left: 25%;
    background-color: #e53945;
    color: #fffcf9;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
}

.deleteListBtn {
    height: auto;
    cursor: pointer;
    border: none;
    background: none;
    width: 25%;
}

.deleteListBtn:hover {
    height: auto;
    cursor: pointer;
    border: none;
    border: 2px solid black;
    border-radius: 4px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    width: 25%;
}
